@use 'variables';


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px;
    @media screen {
       
        height: 112px;
        border-bottom: 1px solid variables.$Grayish-blue;
    }
        
    
}

